#AdminUsersTbl tr {
    cursor: pointer;
    border-radius: 5px;
}

    #AdminUsersTbl tr:nth-child(odd):not(.header) {
        background-color: #d4cdcd;
        border-radius: 10px;
    }

    #AdminUsersTbl tr:hover:not(.header) {
        background-color: #8c8c8c;
    }

#createAdminUserImg {
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 15px;
}

.tableIcon {
    width: 18px;
    cursor: pointer;
    margin: 0 5px;
}

jqueryPopupOverlay {
    width: 500px;
}

#searchAdminUsers {
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    position: absolute;
    right: 80px;
    top: 20px;
    font-size: 15px;
    padding: 3px 5px;
}