<h1>{{header}}</h1>

<div class="row userField">
    <div class="col-lg-4">
        <label>Username</label>
    </div>
    <div class="col-lg-8">
        <input type="text" [(ngModel)]="adminUser.username" autofocus/>
    </div>
</div>
<div class="row userField">
    <div class="col-lg-4">
        <label>First Name</label>
    </div>
    <div class="col-lg-8">
        <input type="text" [(ngModel)]="adminUser.firstName" required brytervalidation />
    </div>
</div>
<div class="row userField">
    <div class="col-lg-4">
        <label>Last Name</label>
    </div>
    <div class="col-lg-8">
        <input type="text" [(ngModel)]="adminUser.lastName" />
    </div>
</div>
<div class="row userField">
    <div class="col-lg-4">
        <label>Phone</label>
    </div>
    <div class="col-lg-8">
        <input type="text" [(ngModel)]="adminUser.phone" />
    </div>
</div>
<div class="row userField">
    <div class="col-lg-4">
        <label>Email</label>
    </div>
    <div class="col-lg-8">
        <input type="text" [(ngModel)]="adminUser.email" />
    </div>
</div>
<div class="row userField">
    <div class="col-lg-4">
        <label>User Type</label>
    </div>
    <div class="col-lg-8">
        <!--<adminusertypedropdown [selectedUserTypeID]="adminUser.adminUserTypeID" (selectedUserTypeIDChanged)="setSelectedAdminUserTypeID($event)"></adminusertypedropdown>-->
        <bryterdropdown [(options)]="userTypes" [(value)]="adminUser.adminUserTypeID" (valueChanged)="setSelectedAdminUserTypeID($event)"></bryterdropdown>
    </div>
</div>
<div class="row userField">
    <div class="col-lg-4">
        <label>Title</label>
    </div>
    <div class="col-lg-8">
        <input type="text" [(ngModel)]="adminUser.title" />
    </div>
</div>
<div class="row userField">
    <div class="col-lg-4">
        <label>Status</label>
    </div>
    <div class="col-lg-8">
        <input type="text" [(ngModel)]="adminUser.statusName" />
    </div>
</div>

<div id="CreateAdminUserBtns">
    <button class="btn-default" (click)="this.submit()">Submit</button>
    <button class="btn-default" (click)="close()">Close</button>
</div>