<div class="row">
    <div class="col-lg-12" [hidden]="adminUser.userID > 0">Please select user for detail</div>
</div>
<div class="row" [hidden]="adminUser.userID === 0">
    <div class="col-lg-3">
        <profileImage [userAccessTypeID]="userAccessTypeID" [userAccessTypeName]="userAccessTypeName" [profileID]="adminUser.userID" #profileImage></profileImage>
    </div>
    <div class="col-lg-9">
        <div>
            User ID: {{adminUser.userID}}<br />
            Username: {{adminUser.username}}<br />
            First Name: {{ adminUser.firstName }}<br />
            Last Name: {{ adminUser.lastName }}<br />
            Phone: {{ adminUser.phone }}<br />
            Email: {{ adminUser.email }}<br />
            User Type: {{ adminUser.adminUserTypeID }}<br />
            Title: {{ adminUser.title }}<br />
            Status: {{ adminUser.statusName }}<br />
        </div>
    </div>
</div>