#AdminUsersTbl tr {
    cursor: pointer;
}

#createAdminUserImg {
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: -55px;
}

.tableIcon {
    width: 18px;
    cursor: pointer;
}

jqueryPopupOverlay {
    width: 500px;
}