#CreateAdminUserBtns {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
}

    #CreateAdminUserBtns button {
        font-size: 18px;
    }

    #CreateAdminUserBtns button:first-child {
        margin-right: 30px;
    }

.userField {
    margin-top: 10px;
}

    .userField label {
        width: 125px;
    }

    .userField input {
        border-radius: 5px;
        border: 1px solid black;
        padding: 3px 10px;
        width: 300px;
    }

    .userField div {
        width: 300px;
        display: inline-block;
    }

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}