#BryterUsersTbl tr {
    cursor: pointer;
}

#createBryterUserImg {
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: -55px;
}

.tableIcon {
    width: 18px;
    cursor: pointer;
}

jqueryPopupOverlay {
    width: 1315px;
}