#BryterUsersTbl {
    margin-top: 35px;
}

    #BryterUsersTbl tr {
        cursor: pointer;
        border-radius: 5px;
    }

    #BryterUsersTbl tr:nth-child(odd):not(.header) {
        background-color: #d4cdcd;
        border-radius: 10px;
    }

    #BryterUsersTbl tr:hover:not(.header) {
        background-color: #8c8c8c;
    }

#createBryterUserImg {
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 15px;
}

.tableIcon {
    width: 18px;
    cursor: pointer;
}

jqueryPopupOverlay {
    width: 1315px;
}

brytersearch {
    position: absolute;
    right: 80px;
    top: 15px;
    font-size: 15px;
    padding: 3px 5px;
}

#statusFilter, #companyFilter {
    margin-left: 10px;
}

#filters {
    margin-top: 20px;
}