label, .field {
    font-size: 12px;
    padding: 5px 0 5px 0;
}

.detailContent {
    margin: 0 0 0 15px;
}

.fieldArea {
    padding: 0 15px 15px 15px;
}

    .fieldArea .row:nth-child(odd) {
        background-color: #d4cdcd;
        border-radius: 10px;
    }

    .fieldArea.secondColumn .row {
        margin-left: 0;
    }

h2 {
    margin: 0 0 20px 0;
    text-align: center;
    font-weight: bold;
}

.editIcon {
    width: 18px;
    cursor: pointer;
    float: right;
}

jqueryPopupOverlay {
    width: 1315px;
}