<h2>Bryter Users</h2>

<p *ngIf="!bryterUsers"><em>Loading...</em></p>

<div *ngIf="bryterUsers">
    <img id="createBryterUserImg" src="../../../content/images/icons/add-icon.png" (click)="show()" />
    <brytersearch [items]="bryterUsers" (foundItemsChanged)="setSearchedBryterUserList($event)"></brytersearch>

    <jqueryPopupOverlay #createBryterUserOverlay>
        <bryterUserForm (closed)="createBryterUserOverlay.close()" (refreshed)="refresh()" [bryterUser]="selectedBryterUser" [header]="selectedBryterUserHeader"></bryterUserForm>
    </jqueryPopupOverlay>

    <table id="BryterUsersTbl" class='table' *ngIf="bryterUsers">
        <thead>
            <tr class="header">
                <th></th>
                <th></th>
                <th>User</th>
                <th>Company</th>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th>Status</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bryterUser of visibleBryterUsers" (click)="userClick(bryterUser)">
                <td><img class="tableIcon" src="../../../content/images/icons/edit-icon.png" (click)="edit(bryterUser)" /></td>
                <td><img class="tableIcon" src="../../../content/images/icons/delete-icon.png" (click)="delete(bryterUser)" /></td>
                <td>{{ bryterUser.username }} [{{bryterUser.userID}}]</td>
                <td>{{ bryterUser.companyName }} [{{bryterUser.companyID}}]</td>
                <td>{{ bryterUser.firstName }} {{bryterUser.lastName}}</td>
                <td>{{ bryterUser.city }}</td>
                <td>{{ bryterUser.state }}</td>
                <td>{{ bryterUser.statusName }}</td>
                <td>{{ bryterUser.createdOnStr }}</td>
            </tr>
        </tbody>
    </table>

    <bryterpaging [items]="bryterUsers" [itemsPerPage]="10" (visibleItemsChanged)="setBryterUserList($event)" #bryterPaging></bryterpaging>
</div>