<h1>{{header}}</h1>

<div class="userField">
    <label>Username</label>
    <input type="text" [(ngModel)]="bryterUser.username" autofocus />
</div>
<div class="userField">
    <label>Company Name</label>
    <input type="text" [(ngModel)]="bryterUser.companyName" />
</div>
<div class="userField">
    <label>Company ID</label>
    <input type="text" [(ngModel)]="bryterUser.companyID" />
</div>
<div class="userField">
    <label>First Name</label>
    <input type="text" [(ngModel)]="bryterUser.firstName" />
</div>
<div class="userField">
    <label>Last Name</label>
    <input type="text" [(ngModel)]="bryterUser.lastName"  />
</div>
<div class="userField">
    <label>Address 1</label>
    <input type="text" [(ngModel)]="bryterUser.address1"  />
</div>
<div class="userField">
    <label>Address 2</label>
    <input type="text" [(ngModel)]="bryterUser.address2"  />
</div>
<div class="userField">
    <label>City</label>
    <input type="text" [(ngModel)]="bryterUser.city" />
</div>
<div class="userField">
    <label>State</label>
    <input type="text" [(ngModel)]="bryterUser.state"  />
</div>
<div class="userField">
    <label>Zipcode</label>
    <input type="text" [(ngModel)]="bryterUser.zipcode"  />
</div>
<div class="userField">
    <label>Country</label>
    <input type="text" [(ngModel)]="bryterUser.country"  />
</div>
<div class="userField">
    <label>Title</label>
    <input type="text" [(ngModel)]="bryterUser.title"  />
</div>
<div class="userField">
    <label>Experience Level</label>
    <input type="text" [(ngModel)]="bryterUser.experienceLevel"  />
</div>
<div class="userField">
    <label>Manager Name</label>
    <input type="text" [(ngModel)]="bryterUser.managerName"  />
</div>
<div class="userField">
    <label>Manager Phone</label>
    <input type="text" [(ngModel)]="bryterUser.managerPhone"  />
</div>
<div class="userField">
    <label>Manager Email</label>
    <input type="text" [(ngModel)]="bryterUser.managerEmail"  />
</div>
<div class="userField">
    <label>Phone</label>
    <input type="text" [(ngModel)]="bryterUser.phone"  />
</div>
<div class="userField">
    <label>Email</label>
    <input type="text" [(ngModel)]="bryterUser.email"  />
</div>
<div class="userField">
    <label>Rating</label>
    <input type="text" [(ngModel)]="bryterUser.rating"  />
</div>
<div class="userField">
    <label>Photo</label>
    <input type="text" [(ngModel)]="bryterUser.photo"  />
</div>
<div class="userField">
    <label>Years With Company</label>
    <input type="text" [(ngModel)]="bryterUser.yearsWithCompany"  />
</div>
<div class="userField">
    <label>Approval Rate</label>
    <input type="text" [(ngModel)]="bryterUser.approvalRate"  />
</div>
<div class="userField">
    <label>Completion Rate</label>
    <input type="text" [(ngModel)]="bryterUser.completionRate"  />
</div>
<div class="userField">
    <label>Retaining Rate</label>
    <input type="text" [(ngModel)]="bryterUser.retainingRate"  />
</div>
<div class="userField">
    <label>Assigned City License IDs</label>
    <input type="text" [(ngModel)]="bryterUser.assignedCityLicenseIDs"  />
</div>

<div id="CreateBryterUserBtns">
    <button class="btn-default" (click)="this.submit()">Submit</button>
    <button class="btn-default" (click)="close()">Close</button>
</div>