<div class="row">
    <div class="col-lg-12" [hidden]="bryterUser.userID > 0">Please select user for detail</div>
</div>
<div class="row" [hidden]="bryterUser.userID === 0">
    <div class="col-lg-3">
        <profileImage [userAccessTypeID]="userAccessTypeID" [userAccessTypeName]="userAccessTypeName" [profileID]="bryterUser.userID" #profileImage></profileImage>
    </div>
    <div class="col-lg-9">
        <div>
            User ID: {{bryterUser.userID}}<br />
            Username: {{bryterUser.username}}<br />
            Company Name: {{bryterUser.companyName}}<br />
            Company ID: {{bryterUser.companyID}}<br />
            First Name: {{bryterUser.firstName}}<br />
            Last Name: {{bryterUser.lastName}}<br />
            Address 1: {{bryterUser.address1}}<br />
            Address 2: {{bryterUser.address2}}<br />
            City: {{bryterUser.city}}<br />
            State: {{bryterUser.state}}<br />
            Zipcode: {{bryterUser.zipcode}}<br />
            Country: {{bryterUser.country}}<br />
            Title: {{bryterUser.title}}<br />
            Experience Level: {{bryterUser.experienceLevel}}<br />
            Manager Name: {{bryterUser.managerName}}<br />
            Manager Phone: {{bryterUser.managerPhone}}<br />
            Manager Email: {{bryterUser.managerEmail}}<br />
            Phone: {{bryterUser.phone}}<br />
            Email: {{bryterUser.email}}<br />
            Rating: {{bryterUser.rating}}<br />
            Photo: {{bryterUser.photo}}<br />
            Years With Company: {{bryterUser.yearsWithCompany}}<br />
            Approval Rate: {{bryterUser.approvalRate}}<br />
            Completion Rate: {{bryterUser.completionRate}}<br />
            Retaining Rate: {{bryterUser.retainingRate}}<br />
            Assigned City Licenses: {{bryterUser.assignedCityLicenseIDs}}<br />
            Status: {{bryterUser.statusName}}<br />
        </div>
    </div>
</div>