<h1>{{header}}</h1>

<div class="userField">
    <label>Retailer Name</label>
    <input type="text" [(ngModel)]="retailer.retailerName" autofocus />
</div>
<div class="userField">
    <label>EIN</label>
    <input type="text" [(ngModel)]="retailer.ein" />
</div>
<div class="userField">
    <label>Address 1</label>
    <input type="text" [(ngModel)]="retailer.address1" />
</div>
<div class="userField">
    <label>Address 2</label>
    <input type="text" [(ngModel)]="retailer.address2" />
</div>
<div class="userField">
    <label>City</label>
    <input type="text" [(ngModel)]="retailer.city" />
</div>
<div class="userField">
    <label>State</label>
    <input type="text" [(ngModel)]="retailer.state" />
</div>
<div class="userField">
    <label>Zipcode</label>
    <input type="text" [(ngModel)]="retailer.zipcode" />
</div>
<div class="userField">
    <label>Country</label>
    <input type="text" [(ngModel)]="retailer.country" />
</div>
<div class="userField">
    <label>Phone</label>
    <input type="text" [(ngModel)]="retailer.phone" />
</div>
<div class="userField">
    <label>Website</label>
    <input type="text" [(ngModel)]="retailer.website" />
</div>
<div class="userField">
    <label>Email</label>
    <input type="text" [(ngModel)]="retailer.email" />
</div>
<div class="userField">
    <label>Contact</label>
    <input type="text" [(ngModel)]="retailer.contact" />
</div>
<div class="userField">
    <label>Approval Rate</label>
    <input type="text" [(ngModel)]="retailer.approvalRate" />
</div>
<div class="userField">
    <label>Completion Rate</label>
    <input type="text" [(ngModel)]="retailer.completionRate" />
</div>
<div class="userField">
    <label>Retaining Rate</label>
    <input type="text" [(ngModel)]="retailer.retainingRate" />
</div>
<div class="userField">
    <label>Assigned City License IDs</label>
    <input type="text" [(ngModel)]="retailer.assignedCityLicenseIDs" />
</div>
<div class="userField">
    <label>Provider IDs</label>
    <input type="text" [(ngModel)]="retailer.providerIDs" />
</div>
<div class="userField">
    <label>Status</label>
    <input type="text" [(ngModel)]="retailer.statusName" />
</div>

<div id="CreateRetailerBtns">
    <button class="btn-default" (click)="this.submit()">Submit</button>
    <button class="btn-default" (click)="close()">Close</button>
</div>