<h2>Retailers</h2>

<p *ngIf="!retailers"><em>Loading...</em></p>

<div *ngIf="retailers">
    <img id="createRetailerImg" src="../../../content/images/icons/add-icon.png" (click)="show()" />
    <brytersearch [items]="retailers" (foundItemsChanged)="setSearchedRetailerList($event)"></brytersearch>
    <div id="filters">
        <span id="statusFilter">
            <bryterdropdownfilter [items]="retailers" [filters]="retailerStatusFilters" [filterOnProp]="'statusID'" [selectedFilter]="-1" (filteredItemsChanged)="setNonPagingRetailerList($event)"></bryterdropdownfilter>
        </span>
    </div>

    <jqueryPopupOverlay #createRetailerOverlay>
        <retailerForm (closed)="createRetailerOverlay.close()" (refreshed)="refresh()" [retailer]="selectedRetailer" [header]="selectedRetailerHeader"></retailerForm>
    </jqueryPopupOverlay>

    <table id="RetailersTbl" class='table' *ngIf="retailers">
        <thead>
            <tr class="header">
                <th></th>
                <th></th>
                <th>Retailer</th>
                <th>City</th>
                <th>State</th>
                <th>Contact</th>
                <th>Status</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let retailer of visibleRetailers" (click)="retailerClick(retailer)">
                <td><img class="tableIcon" src="../../../content/images/icons/edit-icon.png" (click)="edit(retailer)" /></td>
                <td><img class="tableIcon" src="../../../content/images/icons/delete-icon.png" (click)="delete(retailer)" /></td>
                <td>{{ retailer.retailerName }} [{{retailer.retailerID}}]</td>
                <td>{{ retailer.city }}</td>
                <td>{{ retailer.state }}</td>
                <td>{{ retailer.contact }}</td>
                <td>{{ retailer.statusName }}</td>
                <td>{{ retailer.createdOnStr }}</td>
            </tr>
        </tbody>
    </table>

    <bryterpaging [items]="retailers" [itemsPerPage]="10" (visibleItemsChanged)="setRetailerList($event)" #retailerPaging></bryterpaging>
</div>