label, .field {
    font-size: 18px;
    padding: 5px 0;
}

.detailContent {
    margin: 15px;
}

.fieldArea {
    padding: 0 75px 15px 15px;
}

    .fieldArea .row:nth-child(even):not(:first-child) {
        background-color: #d4cdcd;
        border-radius: 10px;
    }

h2 {
    margin: 0 0 20px 0;
    text-align: center;
    font-weight: bold;
}

.editIcon {
    width: 18px;
    cursor: pointer;
    float: right;
}

jqueryPopupOverlay {
    width: 1115px;
}