<div class="row">
    <div [hidden]="retailer.retailerID > 0">Please select retailer for detail</div>
</div>
<div class="row detailContent" [hidden]="retailer.retailerID === 0">
    <div class="col-lg-3">
        <profileImage [userAccessTypeID]="userAccessTypeID" [userAccessTypeName]="userAccessTypeName" [profileID]="retailer.retailerID" #profileImage></profileImage>
    </div>
    <div class="col-lg-9 fieldArea">
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Retailer ID
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.retailerID}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Retailer Name
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.retailerName}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    EIN
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.ein}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Address 1
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.address1}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Address 2
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.address2}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    City
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.city}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    State
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.state}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Zipcode
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.zipcode}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Country
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.country}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Phone
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.phone}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Website
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.website}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Email
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Contact
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.contact}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Approval Rate
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.approvalRate}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Completion Rate
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.completionRate}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Retaining Rate
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.retainingRate}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    City Licenses
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.assignedCityLicenseIDs}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Providers
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.providerIDs}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Status
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.statusName}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Created On
                </label>
            </div>
            <div class="col-lg-8 field">
                {{retailer.createdOnStr}}
            </div>
        </div>
    </div>
</div>