#CreateRetailerBtns {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}

    #CreateRetailerBtns button {
        font-size: 15px;
    }

        #CreateRetailerBtns button:first-child {
            margin-right: 30px;
        }

.userField {
    margin-top: 10px;
}

    .userField input {
        border-radius: 5px;
        border: 1px solid black;
        padding: 3px 10px;
        width: 100%;
    }

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
