<div class="row">
    <div [hidden]="provider.providerID > 0">Please select provider for detail</div>
</div>
<div class="row" [hidden]="provider.providerID === 0">
    <div class="col-lg-3">
        <profileImage [userAccessTypeID]="userAccessTypeID" [userAccessTypeName]="userAccessTypeName" [profileID]="provider.providerID" #profileImage></profileImage>
    </div>
    <div class="col-lg-9">
        <div>
            Provider ID: {{provider.providerID}}<br />
            Provider Name: {{provider.providerName}}<br />
            EIN: {{provider.ein}}<br />
            Address 1: {{provider.address1}}<br />
            Address 2: {{provider.address2}}<br />
            City: {{provider.city}}<br />
            State: {{provider.state}}<br />
            Zipcode: {{provider.zipcode}}<br />
            Country: {{provider.country}}<br />
            Phone: {{provider.phone}}<br />
            Website: {{provider.website}}<br />
            Email: {{provider.email}}<br />
            Contact: {{provider.contact}}<br />
            Approval Rate: {{provider.approvalRate}}<br />
            Completion Rate: {{provider.completionRate}}<br />
            Retaining Rate: {{provider.retainingRate}}<br />
            Assigned City Licenses: {{provider.assignedCityLicenseIDs}}<br />
            Status: {{provider.statusName}}<br />
            CreatedOn: {{provider.createdOnStr}}<br />
        </div>
    </div>
</div>