label, .field {
    font-size: 18px;
    padding: 5px 0;
}

.detailContent {
    margin: 15px;
}

.fieldArea {
    padding: 0 75px 15px 15px;
}

    .fieldArea .row:nth-child(odd) {
        background-color: #d4cdcd;
        border-radius: 10px;
    }
