.btn-file {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 10px 0 0 -7px;
    padding: 5px;
}

    .btn-file span {
        cursor: pointer;
    }

    .btn-file input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

.submit {
    display: none;
    cursor: pointer;
    width: 60px;
    padding: 5px;
    margin: 5px 0 0 -7px;
}

#profileImage {
    width: 150px;
    display: block;
}

#updateProfileImage {
    margin: 10px 0 0 18px;
}

#profileImageEdit {
    width: 18px;
    cursor: pointer;
    position: absolute;
}

.rotate {
    width: 60px;
    cursor: pointer;
    padding: 5px;
    display: block;
    margin: 10px 0 0 -7px;
}

.upload {
    width: 48px;
    cursor: pointer;
    padding: 5px;
    display: block;
}

.profileImageContent {
    margin-bottom: 20px;
}