<img id="profileImageEdit" src="../../../content/images/icons/edit-icon.png" (click)="show()" />
<img id="profileImage" [src]="imageResult" />

<jqueryPopupOverlay (closed)="closed()"  #updateProfileImageOverlay>
    <div class="row profileImageContent">
        <div class="col-lg-10">
            <h3 style="margin-top: 0; text-align: center;">Update Profile Picture</h3>
            <croppie (imageResult)="getImageResult($event)" (fileLoaded)="fileLoaded()" #croppieElement></croppie>
        </div>
        <div class="col-lg-2" style="margin-top: 40px">
            <img class="btn-default rotate" src="../../../content/images/icons/rotateleftwhite-icon.png" (click)="rotate(-90)" />
            <img class="btn-default rotate" src="../../../content/images/icons/rotaterightwhite-icon.png" (click)="rotate(90)" />
            <a class="btn-file btn-default">
                <!--<span>Upload</span>-->
                <img class="upload" src="../../../content/images/icons/uploadwhite-icon.png" />
                <input class="btn-default" type="file" id="uploadProfileImage" value="Choose a file" accept="image/*" />
            </a>
            <img class="btn-default submit" src="../../../content/images/icons/submitwhite-icon.png" (click)="saveProfileImage()" />
        </div>
    </div>
</jqueryPopupOverlay>